.editor {
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.editor__textarea {
  border: none;
  box-shadow: none;
  min-height: 600px;
  overflow: auto;
  outline: none;
  resize: none;
  width: 100%;
}

.editor-wrap {
  min-width: 400px;
  width: 48%;
}

.preview-wrap {
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  min-width: 400px;
  padding: 0 10px;
  width: 48%;
}