<div class="editor-page">
  <div class="editor-buttons-container">
  <!-- Export Dropdown -->
    <div class="editor-buttons__dropdown btn-group"
      dropdown>
      <button class="editor-button__save btn btn-primary dropdown-toggle"
        dropdown-toggle>
        Export <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-click="editor.exportSource()"><a href="#"> Source </a></li>
        <li><a href="#"> PDF </a></li>
      </ul>
    </div>
    <!-- / -->
    <!-- Settings Dropdown -->
    <div class="editor-buttons__dropdown btn-group editor-buttons__setting-group"
      dropdown>
      <button class="editor-button__options btn btn-warning dropdown-toggle"
        dropdown-toggle>
        <span class="glyphicon glyphicon-cog"></span> Settings
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <div class="checkbox editor-checkbox">
          <label>
            <input type="checkbox" ng-model="editor.settings.showPreview">
            Show Preview
          </label>
        </div>
      </div>
    </div>

    <!-- / -->
    <button class="editor-button__import btn btn-success"
      ng-click="editor.importFile()">
      <span class="glyphicon glyphicon-upload"></span> Import
    </button>
    <input type="file"
      id="file-upload" />

  </div>

  <div class="editor">
    <div class="editor-wrap">
      <textarea name="editor"
        class="editor__textarea"
        ng-model="editor.content">
      </textarea>
    </div>
    <div class="preview-wrap"
      ng-show="editor.settings.showPreview">
      <div id="preview"
        ng-bind-html="editor.markdown.toHTML(editor.content)">
      </div>
    </div>
  </div>
</div>