.editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.editor-checkbox {
  padding-left: 10px;
}

.editor-page {
  background-color: lightgray;
}

.editor-buttons-container {
  padding: 20px;
  padding-bottom: 0;
}

.editor__textarea {
  border: none;
  box-shadow: none;
  min-height: 600px;
  overflow: auto;
  outline: none;
  resize: none;
  width: 100%;
}

.editor__filename-input {
  /* Give it the same amount of padding as the buttons */
  padding: 6px 12px;
}

input[type="file"].editor-file-upload__input {
  display: inline-block;
}

.editor-wrap {
  min-width: 400px;
  flex: 1;
  margin-right: 10px;
  background-color: white;
}

.preview-wrap {
  background-color: #f8f8f8;
  flex: 1;
  margin-left: 10px;
  min-width: 400px;
  padding: 0 10px;
}

.editor-wrap,
.preview-wrap {
  box-shadow: 1px 1px 3px #888888;
}

@media(max-width: 860px) {
  .editor {
    flex-direction: column;
  }
  .editor-wrap,
  .preview-wrap {
    margin-right: 0;
    margin-left: 0;
  }
}
